<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Birthday Tracker 2.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>Birthday-Tracker-WidgetExtension.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>26</integer>
		</dict>
		<key>Common.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>CustomDump (Playground) 1.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>24</integer>
		</dict>
		<key>CustomDump (Playground) 2.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>25</integer>
		</dict>
		<key>CustomDump (Playground).xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>23</integer>
		</dict>
		<key>FileClient.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>NewPerson.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>22</integer>
		</dict>
		<key>Person.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>19</integer>
		</dict>
		<key>PersonState.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>5A228B2E26E76E27005C8AD1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5A228B3E26E76E2A005C8AD1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5A228B4826E76E2A005C8AD1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5A5DE81826F15442005B9ADC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5A5DE82126F15442005B9ADC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5A5DE86926F15B44005B9ADC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5A5DE87226F15B44005B9ADC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5A5DE88C26F15B77005B9ADC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5A5DE89526F15B77005B9ADC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5A71005326F161D000F0AF8F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5A71005C26F161D000F0AF8F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
